@import url("https://fonts.googleapis.com/css2?family=K2D:wght@500&display=swap");
body {
  background-color: rgb(15, 23, 46);
  overflow-x: hidden;
  font-family: "K2D", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.bg-vid {
  background: url("/bg.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  z-index: -1;
}

.bg-glass {
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);

  box-shadow: 0 0 9px #00d8fa;
}
.bg-glass-high {
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}

.nav-blue {
  box-shadow: 0 0 9px #00d8fa;
}
.nav-purple {
  box-shadow: 0 0 9px #905fa8;
}

.bg-glass-purple {
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  box-shadow: 0 0 4px #e28fff;
}

.bg-glass-1 {
  backdrop-filter: blur(49px);

  border: 4px solid #253277;
  box-shadow: 0 0 15px #49b6df, 0 0 30px #49b6df, 0 0 60px #49b6df,
    0 0 150px #49b6df;
}

.link {
  box-shadow: 0 0 14px #00d8fa;
}

.bg-royal {
  background: #0d1834;
}

.team {
  box-shadow: 0 0 10px #00d8fa;
}
